<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStructureForSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFC72D7B22E1BF5800A3EB93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFC72D9222E1BF5E00A3EB93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFC72D9D22E1BF5F00A3EB93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
